.container {
  padding: var(--spacing-large);
  background: var(--black);
  color: var(--white);
  grid-column: 1/9;
  display: grid;
  grid-template-columns: var(--grid-col-8);
  gap: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
}
.content {
  grid-column: 1/7;
}
.attribution {
  grid-column: 7/9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: var(--blueFour);
}

@media only screen and (max-width: 768px) {
  .container {
    margin-bottom: var(--spacing-large);
  }
  .content {
    grid-column: 1/9;
  }
  .attribution {
    grid-column: 1/9;
  }
}
