.button {
  display: none;
}
@media (max-width: 768px) {
  .button {
    display: inline-block;
    pointer-events: auto;
    border: 1px solid var(--blueFour);
    color: var(--blueFour);
    padding: var(--spacing-small) var(--spacing-medium);
  }
}
