.button {
  display: none;
}
@media (max-width: 768px) {
  .button {
    display: inline-block;
    color: var(--white);
    border: 1px solid var(--blueThree);
    margin-bottom: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
  }
}
