.container {
  background: var(--black);
  color: var(--white);
  overflow: scroll;
  min-width: 400px;
  max-width: 400px;
  padding: var(--spacing-large);
  position: absolute;
  top: 0;
  bottom: 0;

  pointer-events: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.inner {
  margin: 0;
  padding: 0;
  list-style: none;
}
.title {
  text-transform: uppercase;
  margin-bottom: var(--spacing-large);
}
.link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    min-width: 100%;
    max-width: 100%;
  }
}
