.container {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: var(--spacing-large);
}

.title {
  margin: 0;

  padding: var(--spacing-small) 0;
  display: inline-block;

  text-transform: uppercase;
}
.icon {
  height: 24px;
  width: 24px;
  border: 1px solid var(--blueFour);
}
