.container {
  width: 100%;
  height: 100%;

  min-height: 60vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: var(--grid-col-8);
  gap: var(--spacing-large);
  row-gap: 0;
  padding-top: calc(var(--header-height));
  padding-bottom: var(--spacing-large);
}
.container[data-is-playbook='true'] {
  padding-top: calc(var(--header-height) + var(--secondary-header-height));
}
@media only screen and (max-width: 768px) {
  .container {
    gap: 0;
  }
  .container[data-is-playbook='true'] {
    padding-top: calc(var(--header-height));
  }
}
