.button {
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: var(--spacing-small);

  padding: var(--spacing-xsmall) var(--spacing-small);
  margin-left: var(--spacing-medium);
  border: 1px solid var(--inputBorder);
  background: var(--navInputBackground);
  color: var(--inputText);
  white-space: nowrap;
  height: calc(var(--header-height) / 2);
  transition: 0.3s ease;
}
.button[data-theme='LANDING'] {
  background: var(--blueSix);
  color: var(--white);
  border-color: var(--white);
}
.button:hover {
  background: var(--greyBlue);
  color: var(--black);
  border: 1px solid var(--black);
  font-variation-settings: 'wght' 650;
}
.button:hover > .icon {
  fill: var(--black);
}
.icon {
  fill: var(--inputText);
  transition: 0.3s ease;
}
.icon[data-theme='LANDING'] {
  fill: var(--white);
}
.labelText {
  position: relative;
  top: 0.085em;
}
