.container {
  position: relative;
  width: 100%;
}
.input {
  height: calc(var(--header-height) / 2);
  width: 100%;
  pointer-events: auto;

  border: 1px solid var(--inputBorder);
  background: var(--navInputBackground);
  color: var(--inputText);
  padding: var(--spacing-xsmall) var(--spacing-small);
  padding-left: calc(var(--spacing-small) + 24px);
  padding-top: 8px;
}
.input::placeholder {
  color: var(--inputText);
}
.icon {
  fill: var(--inputText);
}
.iconContainer {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-small);
}
@media (max-width: 768px) {
  .container {
    display: none;
  }
}
