.container {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-medium);
  height: 100%;
}

.name {
  color: var(--blueFour);
}

.textContainer {
  grid-column: 1/5;
  margin: 0;
  padding: 0;
}

.imageContainer figure {
  max-width: inherit;
  max-height: inherit;
  height: 164px;
  width: inherit;
  object-fit: cover;
}

button.cta {
  margin-top: 24px;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-column: span 8;
    gap: 0;
    padding: 0 var(--spacing-small);
  }
}
