.container {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-medium);
  height: 100%;
}

.name {
  margin-top: var(--spacing-medium);
  color: var(--blueFour);
}

.description {
  margin-top: var(--spacing-medium);
}

.textContainer {
  grid-column: 1/5;
  margin: 0;
  padding: 0;
}

.imageContainer {
  width: 100%;
}

.imageContainer figure {
  width: 100%;
  padding-bottom: 60%;
}

button.cta {
  margin-top: var(--spacing-medium);
}

@media only screen and (max-width: 768px) {
  .container {
    grid-column: span 8;
    gap: 0;
  }
}
