.button {
  display: none;
}
@media (max-width: 768px) {
  .button {
    display: inline-block;
    color: var(--blueFour);
    border: 1px solid var(--blueFour);
    margin-bottom: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
  }
}
