.container {
  grid-column: 1/9;
  margin: 0 var(--spacing-large);
}
.marginBottom {
  margin-bottom: var(--spacing-large);
}
.clearTopPadding {
  padding-top: 0;
}
.padding {
  padding-top: var(--spacing-large);
}
.inner {
  border-bottom: 4px solid var(--blueFour);
}
.extraLarge {
  border-bottom: 4px solid var(--blueFour);
}
.container[data-theme='black'] {
  margin: 0;
  padding: 0 var(--spacing-large);
  padding-bottom: 0;
  margin-bottom: 0;
  background: var(--black);
  color: var(--white);
}

.container[data-theme='white'] {
  margin: 0;
  padding: 0 var(--spacing-large);
  padding-bottom: 0;
  margin-bottom: 0;
  background: var(--white);
}

.smallLabel {
  color: var(--blueThree);
}
.label {
  margin-bottom: var(--spacing-small);
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 var(--spacing-medium);
  }
  .container[data-theme='black'] {
    padding: var(--spacing-medium);
    background: var(--black);
    color: var(--white);
  }
  .container[data-theme='white'] {
    padding: var(--spacing-medium);
    background: var(--white);
  }
}
