.container {
  cursor: pointer;
  transition: 0.3s ease;
  display: inline-block;
  white-space: normal;
  position: relative;
}
.topLevel[data-expanded='true'] {
  opacity: 1;
  background: var(--playbookNavDropdown);
  border: 1px solid var(--text);
  border-bottom: 0;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  pointer-events: auto;
}
.title {
  pointer-events: auto;
  display: inline-block;
  white-space: nowrap;
  margin: 0;

  text-decoration: underline;
}

.topLevel {
  border: 1px solid transparent;
  border-bottom: 0;
  padding: 0 var(--spacing-small);
  height: var(--secondary-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 10000;
}

.nested {
  margin-top: var(--spacing-small);
  text-decoration: none;
  pointer-events: none;
}

.menuContainer {
  background: var(--playbookNavDropdown);
  border: 1px solid var(--text);

  position: absolute;
  z-index: 10;
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  padding: var(--spacing-small) var(--spacing-medium);
  padding-top: 0;
  position: absolute;

  top: calc((var(--secondary-header-height)) - 1px);
}
.submenuContainer {
  display: flex;
  flex-direction: column;

  margin-bottom: var(--spacing-small);
}
