.container {
  transition: 0.3s ease;
  display: inline-block;
  white-space: normal;
  position: relative;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  pointer-events: auto;
}

.topLevelLink {
  transition: 0.3s ease;
}
.topLevelLink:hover {
  opacity: 0.6;
}

.menuContainer {
  background: var(--playbookNavDropdown);
  border: 1px solid var(--text);

  position: absolute;
  z-index: 10;
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  padding: var(--spacing-small) var(--spacing-medium);
  padding-top: 0;
  position: absolute;
  top: calc((var(--secondary-header-height)) - 1px);
  overflow: scroll;
  max-height: calc(
    100vh - var(--page-border-width) -
      (var(--header-height) + var(--secondary-header-height)) - 5rem
  );
}
.submenuContainer {
  display: flex;
  flex-direction: column;

  margin-bottom: var(--spacing-small);
}
