.container {
  position: absolute;
  top: calc(var(--header-height));
  right: 0;
  left: 0;

  background: var(--blueFive);
  color: var(--black);
  z-index: 10;
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);

  height: var(--secondary-header-height);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  padding: 0 var(--spacing-medium);
  pointer-events: auto;
  border-bottom: 1px solid var(--black);
}
.inner {
  position: relative;

  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-small);
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
