.container {
  position: absolute;
  z-index: 10;
  top: calc(var(--header-height));
  right: 0;
  left: 0;
  background: var(--playbookNav);
  color: var(--text);
  z-index: 10;
  display: flex;
  align-items: center;

  height: var(--secondary-header-height);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
  border-bottom: 1px solid var(--text);
}
.main {
  position: relative;
  height: 100%;
  width: 100%;
}
.inner {
  position: absolute;
  left: 0;

  z-index: 100000;

  margin: 0;
  padding: 0;
  list-style: none;

  width: 100%;
  display: block;
  white-space: nowrap;
  overflow-x: scroll;
}
.inner[data-expanded='true'] {
  height: calc(100vh - var(--header-height));
}
@media (max-width: 768px) {
  .container {
    display: none;
  }
}
