.container {
  margin-top: var(--spacing-medium);
}
.row {
  display: flex;
  gap: var(--spacing-large);
}
.halfRow {
  width: 100%;
}
.submitRow {
  justify-content: flex-end;
  position: relative;
}
.spacer {
  width: 2.5rem;
}
.label {
  font-family: var(--flexa);
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: (--white);
  font-variation-settings: 'wght' 450, 'wdth' 50;
}
.sublabel {
  font-family: var(--flexa-mono);

  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  color: (--white);

  text-align: left;
}
.error-message {
  color: var(--yellow);
  margin-left: 0.3125rem;
}
.form-error-message {
  color: var(--yellow);
  width: 100px;
  position: absolute;
  left: 0;
}
.input {
  text-transform: uppercase;
  font-family: var(--flexa);
  color: var(--white);
  font-size: 16px;
  font-variation-settings: 'wght' 400, 'wdth' 90;

  font-style: normal;
  font-weight: 100;
  line-height: 18px;
  letter-spacing: 0em;

  text-align: left;

  border: 0;
  border-radius: 0;
  width: 100%;
  background-color: transparent;

  border: 2px solid var(--white);
  padding: var(--spacing-medium) var(--spacing-small);
  margin-bottom: var(--spacing-medium);
}
.input::placeholder {
  color: var(--white);
}

.input:-ms-input-placeholder {
  color: var(--white);
}

.input::-ms-input-placeholder {
  color: var(--white);
}

.title {
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 768px) {
  .input {
    color: var(--black);
    font-size: 16px;
  }
}
