.container {
  grid-column: 1/9;
  display: grid;
  grid-template-columns: var(--grid-col-8);
  gap: var(--spacing-large);
  padding: 0 var(--spacing-large);
}

.container[data-theme='black'] {
  padding: var(--spacing-large);
  background: var(--black);
  color: var(--white);
}

.container[data-theme='white'] {
  padding: var(--spacing-large);
  background: var(--white);
}

.marginBottom {
  margin-bottom: var(--spacing-large);
}

.callout {
  margin: 0;
  padding: var(--spacing-medium) 0;
}
.title {
  grid-column: 1/9;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-bottom: var(--spacing-medium);
    padding: 0 var(--spacing-small);
    gap: 0;
  }
  .callout {
    margin-bottom: var(--spacing-medium);
  }
  .container[data-theme='black'] {
    padding: var(--spacing-large) var(--spacing-small);
  }

  .container[data-theme='white'] {
    padding: var(--spacing-large) var(--spacing-small);
  }
}
