.container {
  grid-column: 1/-1;
  position: relative;
  padding: var(--spacing-large);
}
.container[data-theme='black'] {
  padding: var(--spacing-large);
  background: var(--black);
  color: var(--white);
}
.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.title {
  border-bottom: 1px solid var(--blueThree);
  margin: 0 var(--spacing-large);
  padding-bottom: var(--spacing-small);
  color: var(--blueThree);
}
.buttonRow {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  margin: var(--spacing-large) 0;
}

.container button {
  position: absolute;
  top: 0;
  margin-top: var(--spacing-large);
  right: var(--spacing-large);
}

.buttonContainer {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .buttonContainer {
    text-align: center;
  }

  .hiddenMobile {
    display: none !important;
  }

  .container {
    margin: 0;
    padding: 0 var(--spacing-small);
  }

  .container button {
    position: relative;
    align-items: center;
    margin-top: 0;
    right: 0;
  }

  .title {
    margin: 0;
  }
}
