.container {
  grid-column: 7/9;
  align-self: stretch;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media only screen and (max-width: 1080px) {
  .container {
    grid-column: 5/9;
    margin-bottom: var(--spacing-medium);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    row-gap: var(--spacing-medium);
    grid-column: 1/-1;
  }
}
