.container {
  width: 100%;
}
.title {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  border-bottom: 1px solid var(--blueThree);
  margin: 0;
}
.ul,
.li {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 286px;
}

.ul {
  counter-reset: li-count;
}

.li {
  counter-increment: li-count;
  display: flex;
}
.li .text {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--spacing-medium) 0;
  gap: var(--spacing-medium);
  border-bottom: 1px solid var(--blueThree);
}

.li .heading span {
  background: no-repeat 0 100%;
  background-image: linear-gradient(var(--blueFour), var(--blueFour));
  background-size: 0% 3px;
  transition: background-size 0.3s ease-in-out;
}
.li:hover .heading span {
  background-size: 100% 3px;
}
.li:hover .text:before {
  background: var(--blueFour);
}
.li .text:before {
  content: counter(li-count);
  font-family: var(--flexa);
  font-size: 36px;
  font-variation-settings: 'wght' 614;
  background: var(--sheen);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  min-height: 48px;
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
  transition: 0.3s ease;
}

@media (max-width: 1080px) {
  .ul,
  .li {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .ul,
  .li {
    max-width: 100%;
  }
}
