.container {
  grid-column: 1/5;
  display: flex;
  gap: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}
@media only screen and (max-width: 768px) {
  .container {
    grid-column: 1/-1;
  }
}
