.container {
  --border-width: 5px;
  position: relative;
  display: inline-block;
  border: var(--border-width) solid var(--blueFour);
  padding: var(--spacing-small) var(--spacing-small);
  margin: var(--spacing-medium) 0;
  color: var(--black);
  transition: 0.3s;
  z-index: 11; /* so this appears above the Label below */
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.container:nth-of-type(n + 2) {
  margin-left: var(--spacing-small);
}
.label {
  position: relative;
  z-index: 10;
  margin: 0;
  display: flex;
}
.container[data-theme='black'] {
  color: var(--white);
}
body[data-theme='DARK'] .container {
  background: var(--black);
  color: var(--white);
  border: var(--border-width) solid var(--white);
}
body[data-theme='DARK'] .container::before {
  background: var(--pink);
}
.fill {
  background: var(--blueFour);
}

.outline:hover {
  border-color: var(--black);
}
.outline:hover[data-theme='black'] {
  border-color: var(--white);
  color: var(--black);
}
.icon {
  position: relative;
  top: 0.1em;
  left: 0.3em;
}
.container[data-type='fill']::before {
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
}
.container[data-type='outline']::before {
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc(100%);
}
.container::before {
  content: '';
  position: absolute;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transform: scale3d(0.7, 1, 1);
  background: var(--pink);
  z-index: 0;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.container:hover::before {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
@media only screen and (max-width: 768px) {
  .container {
    white-space: wrap;
  }
}
