.container {
  position: relative;
  display: inline-block;
  border: 5px solid var(--blueFour);
  padding: 0;
  margin: var(--spacing-medium) 0;
}
.label {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: var(--spacing-small) var(--spacing-medium);
  display: block;
}
.container[data-theme='black'] {
  color: var(--white);
}

.fill {
  background: var(--blueFour);
}
.fill:hover {
  border-color: transparent;
}
.outline:hover {
  border-color: var(--black);
}
.outline:hover[data-theme='black'] {
  border-color: var(--white);
}
.icon {
  position: relative;
  top: 0.1em;
  left: 0.3em;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transform: scale3d(0.7, 1, 1);
  background: var(--pink);
  z-index: 0;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.container:hover::before {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
