.container {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  background-color: var(--pink);
  overflow: hidden;
}
.submitted {
  pointer-events: none;
}
.button {
  height: 100%;
  width: 100%;
  border: none;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  transition: 0.3s ease;
}
