.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  grid-column: 1/-1;

  position: relative;
  padding: var(--spacing-large) var(--spacing-large);

  overflow: hidden;
}
.container[data-theme='white'] {
  background: var(--white);
}

.container[data-theme='black'] {
  background: var(--black);
  color: var(--white);
}
.inner {
  position: relative;
  z-index: 1;
  max-width: 80%;
}
.input {
  border: 0;
  border-radius: 0;
  padding: 1.25rem;
  text-transform: uppercase;
  background: var(--blueFive);
  color: var(--blueThree);
  font-size: 18px;
  line-height: 22px;
  font-family: var(--flexa-mono);
  font-weight: 500;
  min-width: 400px;
}
.input::placeholder {
  color: var(--blueThree);
}
.inputRow {
  position: relative;
  display: inline-block;
}
.image {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: var(--spacing-medium) var(--spacing-small);
    padding-bottom: 0;
  }
  .inner {
    max-width: 100%;
  }
  .inputRow {
    width: 100%;
  }
  .input {
    min-width: 100%;
  }
  .image {
    display: none;
  }
}
