.container {
  display: inline-block;
  grid-column: 1/-1;
  width: 100%;

  display: grid;
  grid-template-columns: var(--grid-col-8);
  gap: var(--spacing-large);
  padding: 0 var(--spacing-large);
}
.title {
  grid-column: 1/9;
  border-bottom: 4px solid var(--blueFour);
}
@media only screen and (max-width: 768px) {
  .container {
  }
}
