.container {
  grid-column: 1/-1;
  padding: var(--spacing-large);
  color: var(--white);
  background: var(--black);

  display: grid;
  grid-template-columns: var(--grid-col-8);
  gap: var(--spacing-large);
}

.column {
  position: relative;
  grid-column: span 4;
  overflow: hidden;
}

.logo {
  grid-column: 1/5;
  margin: 0;
  padding: 0;
}
.statement {
  grid-column: 5/9;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expertCardContainer {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.primary {
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -1000px, 0);
  }
}

.scrollElement {
  position: absolute;
  left: 0;
  top: 0;
}

.expertCardContainer::-webkit-scrollbar {
  overflow-y: hidden;
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: var(--spacing-medium) var(--spacing-small);
    gap: 0;
  }
  .logo {
    grid-column: 1/9;
  }
  .statement {
    grid-column: 1/9;
  }
}
