.imageContainer {
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: var(--blueFour);
}
.image {
  width: 228px;
  height: 228px;
  margin-bottom: calc(-1 * var(--spacing-small));
}
.container {
  flex: 0 0 calc(25% - var(--spacing-medium));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  margin-top: var(--spacing-medium);
  color: var(--blueThree);
}
.title {
  text-align: center;
  max-width: 228px;

  margin-bottom: var(--spacing-small);
}
.button {
  margin-bottom: var(--spacing-small);
}

@media only screen and (max-width: 768px) {
  .container {
    flex: auto;
  }
}
