.container {
  grid-column: 1/-1;
  padding: var(--spacing-large);
  background-color: var(--blueFive);

  display: grid;
  grid-template-columns: var(--grid-col-8);
  gap: var(--spacing-large);
}
.logo {
  grid-column: 1/5;
  margin: 0;
  padding: 0;
}
.statement {
  grid-column: 5/9;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: var(--spacing-medium) var(--spacing-small);
    gap: 0;
  }
  .logo {
    grid-column: 1/9;
  }
  .statement {
    grid-column: 1/9;
  }
}
