.container {
  grid-column: 1/-1;
  padding: var(--spacing-medium) var(--spacing-large);
  background-color: var(--blueFive);

  display: grid;
  grid-template-columns: var(--grid-col-8);
  gap: var(--spacing-large);
}
.logo {
  grid-column: 1/5;
  margin: 0;
  padding: 0;
}
.statement {
  grid-column: 5/9;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .logo {
    grid-column: 1/9;
  }
  .statement {
    grid-column: 1/9;
  }
}
