@font-face {
  font-family: 'Pressura';
  src: url('/fonts/Pressura/PressuraMonoRegular.woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FlexaVar';
  src: url('/fonts/Flexa/FlexaVAR.woff2');
}
@font-face {
  font-family: 'FlexaVarMono';
  src: url('/fonts/Flexa/FlexaMonoVAR.woff2');
}

.tease-quote-big {
  font-size: 64px;
  line-height: 62px;
  font-family: var(--flexa);
  font-variation-settings: 'wght' 800, 'wdth' 40;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: -2px;
}

.quote-attribution {
  font-family: var(--flexa-mono);
  font-variation-settings: 'wght' 400, 'wdth' 80;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: var(--blueThree);
}

.mega-quote {
  font-family: var(--flexa);
  font-size: 96px;
  font-style: normal;
  font-variation-settings: 'wght' 800, 'wdth' 40;
  line-height: 80px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white);
  text-transform: uppercase;
}

.mega-quote-attribution {
  font-family: var(--flexa-mono);
  font-variation-settings: 'wght' 400;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blueFour);
  text-transform: uppercase;
}

.tag {
  font-family: var(--flexa-mono);
  font-variation-settings: 'wght' 500;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blueThree);
  text-transform: uppercase;
}

h1 {
  font-family: var(--flexa);
  font-size: 96px;
  line-height: 97px;
  letter-spacing: -0.02em;
  font-variation-settings: 'wght' 800, 'wdth' 42;
  text-transform: capitalize;
  margin: var(--spacing-small) 0;
}
.quote-xl {
  font-family: var(--flexa);
  font-size: 72px;
  line-height: 75px;
  letter-spacing: -0.01em;
  font-variation-settings: 'wght' 800, 'wdth' 55, 'ital' 300;
  position: relative;
}
.quote-xl::before {
  content: '“';
  position: absolute;
  left: -0.5em;
}
.quote-xl::after {
  content: '”';
}
.quote-xl[data-hide-quote-marks]::before {
  display: none;
}
.quote-xl[data-hide-quote-marks]::after {
  display: none;
}
.quote-lg {
  font-family: var(--flexa);
  font-size: 48px;
  line-height: 49px;
  letter-spacing: -0.01em;
  font-variation-settings: 'wght' 645, 'wdth' 55;
  position: relative;
}
.quote-lg::before {
  content: '“';
  position: absolute;
  left: -0.5em;
}
.quote-lg::after {
  content: '”';
}
.quote-md {
  font-family: var(--flexa);
  font-size: 36px;
  line-height: 36px;
  font-variation-settings: 'wght' 604, 'wdth' 69, 'ital' 100;
  position: relative;
}
.quote-md::before {
  content: '“';
  position: absolute;
  left: -0.5em;
}
.quote-md::after {
  content: '”';
}
.quote-md[data-hide-quote-marks]::before {
  display: none;
}
.quote-md[data-hide-quote-marks]::after {
  display: none;
}
.h1-xl {
  font-family: var(--flexa);
  font-size: 144px;
  font-variation-settings: 'wght' 898, 'wdth' 42;
  line-height: 127px;
  letter-spacing: -0.01em;

  text-transform: uppercase;
}
.h1-quote::before {
  content: '“';
  position: absolute;
  margin-left: calc(-1 * var(--spacing-large));
}
.h1-quote::after {
  content: '”';
}

h2,
.h2 {
  font-family: var(--flexa);
  font-size: 48px;
  line-height: 47px;
  letter-spacing: -0.01em;
  font-variation-settings: 'wght' 800, 'wdth' 47;
  text-transform: capitalize;
  margin: var(--spacing-small) 0;
}

h3,
.h3 {
  font-family: var(--flexa);
  font-size: 36px;
  line-height: 34px;
  font-variation-settings: 'wght' 800, 'wdth' 42;
  text-transform: capitalize;
  margin: var(--spacing-small) 0;
}
.h3-subheading {
  font-family: var(--flexa);
  font-size: 18px;
  line-height: 20px;
  font-variation-settings: 'wght' 429, 'wdth' 69;
  color: var(--blueThree);
}
.h3-subheading-italic {
  font-family: var(--flexa);
  font-size: 18px;
  line-height: 20px;
  font-variation-settings: 'wght' 429, 'wdth' 69, 'ital' 100;
  color: var(--blueThree);
}
h4,
.h4 {
  font-family: var(--flexa);
  font-size: 24px;
  line-height: 25px;
  font-variation-settings: 'wght' 800, 'wdth' 42;
  text-transform: capitalize;
  margin: var(--spacing-small) 0;
}
.h4-subheading {
  font-family: var(--flexa);
  font-size: 18px;
  line-height: 25px;
  font-variation-settings: 'wght' 400;
  text-transform: capitalize;
}
@media not all and (min-resolution: 0.001dpcm) {
  @media {
    h4 {
      letter-spacing: -1px;
    }
    h3 {
      letter-spacing: -1px;
    }
    h2 {
      letter-spacing: -3px;
    }
    .h1-quote {
      letter-spacing: -5px;
    }
  }
  @media only screen and (max-width: 1080px) {
    h2 {
      letter-spacing: -2px;
    }
    .h1-quote {
      letter-spacing: -1px;
    }
  }
}
.h3-sentence {
  font-family: var(--flexa);
  font-size: 36px;
  line-height: 34px;
  letter-spacing: -1px;
  font-variation-settings: 'wght' 800, 'wdth' 42;
}

h4 {
  font-family: var(--flexa);
  font-size: 24px;
  line-height: 26px;
  font-variation-settings: 'wght' 800, 'wdth' 42;
  text-transform: capitalize;
}

.h4-quote {
}
.h4-quote::before {
  content: '“';
  position: absolute;
  margin-left: -12px;
}
.h4-quote::after {
  content: '”';
}

.tease-lede-small {
  font-family: var(--flexa);
  font-size: 18px;
  font-style: normal;
  font-variation-settings: 'wght' 400, 'wdth' 80;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.capture-the-action {
  font-family: var(--flexa);
  font-size: 24px;
  font-style: normal;
  font-variation-settings: 'wght' 800, 'wdth' 25;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

/** EJ LIST BEGIN */
.subhead {
  font-family: var(--flexa);
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  font-variation-settings: 'wght' 429, 'wdth' 69, 'ital' 100;
  color: var(--blueThree);
}

.label-small {
  font-family: var(--flexa-mono);
  font-size: 12px;
  line-height: 15px;
  font-variation-settings: 'wght' 400;
  text-transform: uppercase;
}
.label-medium {
  font-family: var(--flexa-mono);
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: 'wght' 400;
  text-transform: uppercase;
}
.label-large {
  font-family: var(--flexa-mono);
  font-size: 24px;
  line-height: 29px;
  font-variation-settings: 'wght' 400;
  text-transform: uppercase;
}
.small-bio {
  font-family: var(--flexa);
  font-size: 16px;
  line-height: 21px;
  font-variation-settings: 'wght' 321, 'wdth' 95;
}
.body {
  font-family: var(--flexa);
  font-size: 20px;
  line-height: 27px;
  font-variation-settings: 'wght' 321, 'wdth' 95;
  margin: var(--spacing-small) 0;
}

.body-italic {
  font-family: var(--flexa);
  font-size: 20px;
  line-height: 27px;
  font-variation-settings: 'wght' 321, 'wdth' 95, 'ital' 100;
}
.body-bold {
  font-family: var(--flexa);
  font-size: 20px;
  line-height: 27px;
  font-variation-settings: 'wght' 604, 'wdth' 95;
}
.body-link {
  font-family: var(--flexa);
  font-size: 20px;
  line-height: 27px;
  font-variation-settings: 'wght' 321, 'wdth' 95;
  text-decoration-line: underline;
  color: var(--blueThree);
  cursor: pointer;
  word-break: break-word;
}
.spotlight-intro-graf {
  font-family: var(--flexa);
  font-size: 24px;
  line-height: 31px;
  font-variation-settings: 'wght' 470, 'wdth' 95;
}
.author-bio {
  font-family: var(--flexa);
  font-size: 16px;
  line-height: 22px;
  font-variation-settings: 'wght' 305, 'wdth' 69, 'ital' 100;
}
.author-bio-bold {
  font-family: var(--flexa);
  font-size: 16px;
  line-height: 22px;
  font-variation-settings: 'wght' 604, 'wdth' 69, 'ital' 100;
}
.author-bio-link {
  font-family: var(--flexa);
  font-size: 16px;
  line-height: 22px;
  font-variation-settings: 'wght' 305, 'wdth' 69, 'ital' 100;
  text-decoration-line: underline;
  color: var(--blueThree);
  cursor: pointer;
}
.intro-graf {
  font-family: var(--flexa);
  font-size: 24px;
  line-height: 31px;
  font-variation-settings: 'wght' 470, 'wdth' 95;
}
.intro-graf-italic {
  font-family: var(--flexa);
  font-variation-settings: 'wght' 321, 'wdth' 95, 'ital' 100;
}
.intro-graf-bold {
  font-family: var(--flexa);
  font-variation-settings: 'wght' 604, 'wdth' 95;
}
.intro-graf-link {
  font-family: var(--flexa);
  font-variation-settings: 'wght' 321, 'wdth' 95;
  text-decoration-line: underline;
  color: var(--blueThree);
  cursor: pointer;
}

.intro-graf::first-letter {
  font-family: var(--flexa);
  font-size: 103px;
  font-variation-settings: 'wght' 800, 'wdth' 0;
  float: left;
  line-height: 93px;
  margin: 0em 0.15em 0em 0;
  padding: 0em;
}

.intro-block-quote {
  font-family: var(--flexa);
  font-size: 24px;
  line-height: 31px;
  font-variation-settings: 'wght' 470, 'wdth' 95;
}

.intro-block-quote::first-letter {
  font-family: var(--flexa);
  font-size: 93px;
  font-variation-settings: 'wght' 800, 'wdth' 0;
  float: left;
  line-height: 1;
  margin: 0em 0.15em 0em 0;
  padding: 0em;
}
.intro-block-quote:before {
  content: '“';
  font-family: var(--flexa);
  font-size: 93px;
  line-height: 93px;
  font-variation-settings: 'wght' 800, 'wdth' 0;
  position: absolute;
  margin-left: -95px;
}
.intro-block-quote:after {
  content: '”';
  margin-bottom: -0.15em;
}

.tease-lede {
  font-family: var(--flexa);
  font-size: 24px;
  line-height: 27px;
  font-variation-settings: 'wght' 429, 'wdth' 69;
}
.tease-lede-small {
  font-family: var(--flexa);
  font-size: 18px;
  line-height: 20px;
  font-variation-settings: 'wght' 429, 'wdth' 69;
}
.drop-cap {
  font-family: var(--flexa);
  font-size: 113px;
  line-height: 153px;
  font-variation-settings: 'wght' 800, 'wdth' 0;
}
.pull-quote {
  font-family: var(--flexa);
  font-size: 48px;
  line-height: 46px;
  letter-spacing: -1px;
  font-variation-settings: 'wght' 800, 'wdth' 42;
  text-transform: uppercase;
}
.pull-quote::before {
  content: '“';
  position: absolute;
  margin-left: -22px;
}
.pull-quote::after {
  content: '”';
}
.button-text-large {
  font-family: var(--flexa);
  font-size: 24px;
  line-height: 29px;
  font-variation-settings: 'wght' 800, 'wdth' 69;
  text-transform: uppercase;
}
.button-text {
  font-family: var(--flexa);
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: 'wght' 800, 'wdth' 69;
  text-transform: uppercase;
}
.button-text-small {
  font-family: var(--flexa);
  font-size: 12px;
  line-height: 15px;
  font-variation-settings: 'wght' 800, 'wdth' 69;
  text-transform: uppercase;
}
.block-quote {
  font-family: var(--flexa);
  font-size: 24px;
  line-height: 31px;
  font-variation-settings: 'wght' 470, 'wdth' 95;
}
.block-quote::before {
  content: '“';
  position: absolute;
  margin-left: -9px;
}
.block-quote::after {
  content: '”';
}

.nav-link-xl-bold {
  font-family: var(--flexa);
  font-size: 24px;
  line-height: 24px;

  font-variation-settings: 'wght' 604, 'wdth' 69;
}
.nav-link-xl {
  font-family: var(--flexa);
  font-size: 24px;
  line-height: 18px;
  font-variation-settings: 'wght' 429, 'wdth' 69;
}
.nav-link-large {
  font-family: var(--flexa);
  font-size: 18px;
  line-height: 15px;
  font-variation-settings: 'wght' 388, 'wdth' 95;
  text-transform: uppercase;
}
.playbook-toc-nav-link {
  font-family: var(--flexa);
  font-size: 18px;
  line-height: 20px;
  font-variation-settings: 'wght' 429, 'wdth' 69;
  color: var(--blueThree);
}
.playbook-toc-nav-link-small {
  font-family: var(--flexa);
  font-size: 0.92rem;
  line-height: 0.92rem;
  font-variation-settings: 'wght' 600, 'wdth' 50;
  color: var(--blueThree);
}
.playbook-toc-nav-link-extra-small {
  font-family: var(--flexa);
  font-size: 0.75rem;
  line-height: 0.5rem;
  font-variation-settings: 'wght' 450, 'wdth' 50;
  color: var(--blueThree);
}
.nav-link-medium {
  font-family: var(--flexa);
  font-size: 20px;
  line-height: 24px;
  font-variation-settings: 'wght' 429, 'wdth' 69;
  color: var(--blueThree);
}
.nav-link-medium-bold {
  font-family: var(--flexa);
  font-size: 20px;
  line-height: 24px;
  font-variation-settings: 'wght' 604, 'wdth' 69;
}
.nav-link-small {
  font-family: var(--flexa);
  font-size: 14px;
  line-height: 16px;
  font-variation-settings: 'wght' 305, 'wdth' 69;
}

@media only screen and (max-width: 1280px) {
  .playbook-toc-nav-link-small {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }
}

@media only screen and (max-width: 768px) {
  .quote-xl {
    font-family: var(--flexa);
    font-size: 48px;
    line-height: 46px;
    font-variation-settings: 'wght' 744, 'wdth' 69;
    letter-spacing: -0.01em;
    position: relative;
  }
  .quote-lg {
    font-family: var(--flexa);
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.01em;
    font-variation-settings: 'wght' 645, 'wdth' 55;
    position: relative;
  }
  .h1-xl {
    font-size: 62px;
    line-height: 53px;
    letter-spacing: -0.02em;
  }
  .h3-sentence {
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -1px;
  }
  h1 {
    font-size: 45px;
    line-height: 41px;
    letter-spacing: -1px;
  }
  .h1-quote {
    font-size: 38px;
    line-height: 34px;
  }
  .h1-quote::before {
    margin-left: calc(-1 * var(--spacing-medium));
  }
  h2 {
    font-size: 38px;
    line-height: 36px;
    letter-spacing: -1px;
  }
  h3 {
    font-size: 30px;
    line-height: 32px;
  }
  .subhead {
    font-size: 26px;
    line-height: 28px;
  }
  .spotlight-intro-graf {
    font-size: 24px;
    line-height: 31px;
  }
  .label-medium {
    font-size: 14px;
    line-height: 16px;
  }
  .tease-lede {
    font-size: 20px;
    line-height: 22px;
  }
  .tease-lede-small {
    font-size: 20px;
    line-height: 20px;
  }
  .button-text-large {
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
  }
  .label-large {
    font-family: var(--flexa-mono);
    font-size: 19px;
    line-height: 24px;
    font-variation-settings: 'wght' 400;
    text-transform: uppercase;
  }
}
