:root {
  --white: #fff;
  --black: #131314;
  --blackTransparent: rgba(0, 0, 0, 0.8);
  --grey: #c4c4c4;

  --pink: #f47cf7;
  --yellow: #ecb547;
  --greyBlue: #b9d3de;
  --blueOne: #183051;
  --blueThree: #187bad;
  --blueFour: #2fbdf4;
  --blueFive: #eaf2f5;
  --blueSix: #114a75;

  --page-border-width: 12px;
  --header-height: 80px;
  --secondary-header-height: 50px;

  --spacing-xxsmall: 0.15625rem;
  --spacing-xsmall: 0.3125rem;
  --spacing-small: 0.625rem;
  --spacing-medium: 1.25rem;
  --spacing-large: 2.5rem;
  --spacing-xlarge: 5rem;
  --spacing-xxlarge: 10rem;

  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;

  --max-readable-width: 1300px;

  --flexa: FlexaVar, Pressura, Helvetica Neue, sans-serif;
  --flexa-mono: FlexaVarMono, Pressura, Helvetica Neue, sans-serif;
  --pressura: Pressura, Helvetica Neue, sans-serif;

  --grid-col: repeat(4, minmax(0, 1fr));
  --grid-col-6: repeat(6, minmax(0, 1fr));
  --grid-col-8: repeat(8, minmax(0, 1fr));
  --grid-col-mobile: repeat(1, minmax(0, 1fr));
}

body {
  --background: var(--blueFive);
  --text: var(--black);
  --borderColor: var(--pink);
}

body[data-theme='LIGHT'] {
  --background: var(--blueFive);
  --secondaryBackground: var(--white);
  --text: var(--black);
  --secondaryText: var(--blueThree);
  --borderColor: var(--pink);
  --secondaryBorderColor: var(--blueFive);
  --sheen: var(--greyBlue);

  --nav: var(--greyBlue);
  --navInputBackground: var(--white);
  --playbookNav: var(--blueFive);
  --playbookNavDropdown: var(--white);

  --inputBackground: var(--white);
  --inputText: var(--black);
  --inputBorder: var(--blueThree);
}

body[data-theme='DARK'] {
  --background: var(--black);
  --secondaryBackground: var(--black);
  --text: var(--white);
  --secondaryText: var(--blueFour);
  --borderColor: var(--blueSix);
  --secondaryBorderColor: var(--blueOne);
  --sheen: var(--blueFour);

  --nav: var(--blueOne);
  --navInputBackground: var(--blueOne);
  --playbookNav: var(--black);
  --playbookNavDropdown: var(--black);

  --inputBackground: var(--black);
  --inputText: var(--white);
  --inputBorder: var(--white);
}

body {
  padding: 0;
  margin: 0;
  border-width: var(--page-border-width);
  border-style: solid;

  color: var(--text);
  background-color: var(--background);

  border-color: var(--borderColor);
}
button {
  font-family: var(--flexa-mono);
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: 'wght' 400;
  border: 0;
  background: transparent;
}
textarea {
  resize: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
textarea:focus,
input:focus {
  outline: none;
}
*:focus {
  outline: none;
}

img {
  transition: 0.5s ease-in;
}
.video {
  position: relative;
}
.video[data-playing='false']::after {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: url('/play-button.svg');

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 100vw;
  }
}
