.container {
  display: inline-block;

  grid-column: 1/-1;
  display: grid;
  grid-template-columns: var(--grid-col-8);
  gap: var(--spacing-large);

  position: relative;
  margin-bottom: var(--spacing-medium);
  transition: 0.3s ease;
}
.container:hover {
  opacity: 0.6;
}
.inner {
  padding: var(--spacing-medium) 0;
  border-top: 4px solid var(--black);
  border-bottom: 1px solid var(--blueThree);
  grid-column: 2/8;
  display: grid;
  grid-template-columns: var(--grid-col-6);
  gap: var(--spacing-large);
  row-gap: 0;
}
.attribution {
  color: var(--blueThree);
}
.textContainer {
  grid-column: 1/5;
}
.title {
  margin-bottom: var(--spacing-medium);
}
.logoContainer {
  grid-column: 5/7;

  display: flex;
  justify-content: center;
  padding: var(--spacing-small) 0;
  background: var(--white);
  padding: var(--spacing-medium);
  min-height: 165px;
}
.image {
  max-width: 100%;
}

.container:hover .sectionLabel {
  opacity: 0.7;
}
.title span {
  background: no-repeat 0 100%;
  background-image: linear-gradient(var(--blueFour), var(--blueFour));
  background-size: 0% 3px;
  transition: background-size 0.3s ease-in-out;
}
.container:hover .title span {
  background-size: 100% 3px;
}

@media only screen and (max-width: 768px) {
  .container {
    gap: 0;
    margin: 0 var(--spacing-small);
  }
  .inner {
    gap: 0;
    grid-column: 1/-1;
  }
  .textContainer {
    grid-column: 1/9;
  }
  .logoContainer {
    grid-column: 1/9;
  }
}
