.container {
  width: max-content;
  position: relative;
  display: inline-block;
  border: 2px solid var(--blueThree);
  padding: 0;
  margin: var(--spacing-medium) auto;
}

.label {
  color: var(--blueSix);
  position: relative;
  z-index: 10;
  margin: 0;
  padding: var(--spacing-xsmall) var(--spacing-small);
  display: block;
}

.header {
  position: relative;

  /* display: flex;
  justify-content: center; */
}

@media only screen and (min-width: 768px) {
  .header {
    position: absolute;
    top: 0;
    margin-top: var(--spacing-xxsmall);
    right: var(--spacing-large);
  }
}
