.container {
  grid-column: 1/-1;
  padding: var(--spacing-large);
  background-color: var(--blueFive);

  background: var(--background);
}
.title {
  border-top: 1px solid var(--blueThree);
  padding-top: var(--spacing-medium);
  grid-column: 1/9;

  margin-bottom: var(--spacing-medium);
}

.buttonContainer {
  display: flex;
  gap: var(--spacing-small);
}

@media only screen and (max-width: 768px) {
  .container {
    padding: var(--spacing-medium);
  }
  .title {
    grid-column: 1/-1;
  }
  .buttonContainer {
    gap: 0;
    flex-direction: column;
  }
  .button {
    margin: var(--spacing-small) 0;
  }
}
